<!-- Temp -->
<nav class="main-navbar" style="padding: 15px; background: #1A237E; color: white; display: flex; gap: 20px; align-items: center;">
  <strong style="font-size: 1.2rem;">BugBoard26</strong>
  
  <!-- Link di Navigazione SPA (Senza ricaricamento pagina) -->
  <a routerLink="/issues" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color: white; text-decoration: none;">Issues</a>
  <a routerLink="/login" routerLinkActive="active" style="color: white; text-decoration: none;">Login</a>
</nav>

<!-- Container principale dove il router inietterà dinamicamente le viste -->
<main class="app-content" style="padding: 20px;">
  <router-outlet />
</main>